<<<<<<< HEAD
<<<<<<< HEAD
p {
    color: rose;
    font-size: 25px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

body {
    color: lightblue;
    font-size: 15px;
    background-color:black;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

span {
    color: red;
    font-size: 25px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
/* para llamar por clases */
.parrafo {
    color:red;
}

#texto {
 color:orange;
 font-size: 25px;
 font-family: Arial
}
=======
=======
header {
    font-style:oblique;
    font-family: Georgia, 'Times New Roman', Times, serif;
    background-color: violet;
}
>>>>>>> b10e4c0 (prueba de colores)
body {
    font-style:oblique;
    font-family: Georgia, 'Times New Roman', Times, serif;
    background-color: black;
}
h1 {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    background-color: aqua;
    padding: 15px;
}
p {
    font-style:oblique;
    font-family: Georgia, 'Times New Roman', Times, serif;
    background-color: rgb(239, 10, 239);
    padding: 15px;
}
<<<<<<< HEAD
>>>>>>> e9aa472 (agregado29_3)
=======
li {
    background-color: yellow;
    padding-block: 30em;
}
>>>>>>> 41c9cd4 (ultima adicion)
