<<<<<<< HEAD
p {
    color: rose;
    font-size: 25px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

body {
    color: lightblue;
    font-size: 15px;
    background-color:black;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

span {
    color: red;
    font-size: 25px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
/* para llamar por clases */
.parrafo {
    color:red;
}

#texto {
 color:orange;
 font-size: 25px;
 font-family: Arial
}
=======
body {
    font-style:oblique;
    font-family: Georgia, 'Times New Roman', Times, serif;
    background-color: blueviolet;
}
h1 {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    background-color: aqua;
    border-color: red;
    padding: 15px;
}
>>>>>>> e9aa472 (agregado29_3)
